---
name: WindowsBuildOnly

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions: read-all

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # yamllint disable rule:line-length
    # The CMake configure and build commands are platform agnostic and should
    # work equally well on Windows or Mac. You can convert this to a matrix 
    # build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    # yamllint enable rule:line-length
    runs-on: windows-2019

    steps:
      - name: Install conan
        run: pip install conan && conan profile detect

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          path: ./nodesetLoader

      - uses: ilammy/msvc-dev-cmd@v1
      - name: Build nodesetLoader
        run: |
          cd ./nodesetLoader && cmake "-DCMAKE_PROJECT_TOP_LEVEL_INCLUDES=./cmake-conan/conan_provider.cmake" -DCMAKE_BUILD_TYPE=Release `
                -DUA_NAMESPACE_ZERO=FULL `
                -DENABLE_TESTING=ON `
                -DENABLE_CONAN=ON . && `
          cmake --build .

      - name: Test
        shell: cmd
        # Execute tests defined by the CMake configuration.  
        # See https://cmake.org/cmake/help/latest/manual/ctest.1.html
        # for more detail
        run: cd ./nodesetLoader && ctest -C Debug --verbose
